<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Usuário</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-img [src]="selectedUser?.photo"></ion-img>
        <ion-card-header>
            <ion-card-title>{{selectedUser?.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list lines="none">
                <ion-item>
                    <ion-label>ID: {{selectedUser?.id}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Email: {{selectedUser?.email}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Data Nascimento: {{dateString}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Usuário Ativo:</ion-label>
                    <ion-checkbox [checked]="selectedUser?.status"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>Curriculo: </ion-label>
                </ion-item>
                <p padding align="justify">{{selectedUser?.curriculum}}</p>
            </ion-list>

            <br>

            <ion-button expand="full" (click)="editUser()"><ion-icon slot="start" name="create"></ion-icon>Editar</ion-button>
            <ion-button expand="full" color="danger" (click)="deleteUser(selectedUser?.id)"><ion-icon slot="start" name="trash"></ion-icon>Deletar</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
