<ion-header>
  <ion-toolbar [color]="selectedUser[0]?.theme">
    <ion-buttons slot="start">
       <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Usuário</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar class="image">
                <ion-img [src]="selectedUser[0]?.photo"></ion-img>        
            </ion-avatar>
        </ion-item>
        <ion-card-header>
            <ion-card-title>{{selectedUser[0]?.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>ID: {{selectedUser[0]?.id_server}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Email: {{selectedUser[0]?.email}}</ion-label>
                </ion-item>
                <ion-item>
                    <!-- <ion-label>Data Nascimento: {{dateString}}</ion-label> -->
                    <ion-label>Data Nascimento: {{selectedUser[0]?.dateBirth}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Situação Usuário (Status):</ion-label>
                    <ion-badge [color]="userStatusColor">{{userStatusText}}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Curriculo: </ion-label>
                </ion-item>
                <p padding align="justify">{{selectedUser[0]?.curriculum}}</p>
            </ion-list>

            <br>

            <ion-button expand="full" (click)="editUser()"><ion-icon slot="start" name="create"></ion-icon>Editar</ion-button>
            <ion-button expand="full" color="danger" (click)="deleteUser(selectedUser[0].id)"><ion-icon slot="start" name="trash"></ion-icon>Deletar</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
