<ion-header>
  <ion-toolbar>
    <ion-title>
      Trabalho Ionic P2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Acesso Usuário</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item [class.hide]="validateFields()" lines="none">
        <ion-label class="warning">Preencha todos os campos:</ion-label>
      </ion-item>
      <ion-item>
        <ion-input required type="text" placeholder="Nome" [(ngModel)]="userName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required type="password" placeholder="Senha" [(ngModel)]="userPassword"></ion-input>
      </ion-item>

      <br>

      <ion-button expand="full" (click)="login()" [disabled]="!validateFields()"><ion-icon slot="start" name="person"></ion-icon>Login</ion-button>

      <br>

      <a (click)="recoveryPassword()">Recuperar Senha</a>
    </ion-card-content>
  </ion-card>
</ion-content>
