.hide {
    display: none;
}

.warning {
    color: red;
    font-size: 15px;
}

.image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    height: 150px;
    width: 150px;  
    padding: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.center-items {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}